<div class="swiper-container explorer">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="flex flex-col md:space-x-4 pb-12 md:flex-row">
        <div class="md:w-2/5">
          <img class="w-4/5 mx-auto" src="{{"images/oral.png"|absURL}}" alt="">
        </div>
        <div class="md:w-3/5">
          <div class="max-w-lg">
            <p class="text-pink font-bold text-2xl">Tema #1</p>
            <h2 class="font-extrabold lg:text-5xl">
              No se puede contraer una <span class="text-pink">ITS</span> con <span class="text-pink">sexo oral</span>
            </h2>
            <p class="mt-8">
              Falso: Las infecciones de transmisión sexual (ITS) se pueden adquirir a través de las relaciones bucogenitales (sexo oral) por el contacto de mucosas con parejas infecciosas, incluso si estas son asintomáticas. Para mayor información consulta <a href="https://www.cdc.gov/std/healthcomm/stdfact-stdriskandoralsex.htm" target="_blank" class="text-pink">este enlace</a>.
            </p>
            <a href="{{ relref . "explorador-de-temas.md" }}" target="_blank" class="mt-6 inline-block bg-pink text-white text-xl font-bold px-3 py-1 rounded">Explorar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex flex-col md:space-x-4 pb-12 md:flex-row">
        <div class="md:w-2/5">
          <img class="w-4/5 mx-auto" src="{{"images/calendar.png"|absURL}}" alt="">
        </div>
        <div class="md:w-3/5">
          <div class="max-w-lg">
            <p class="text-verdigris font-bold text-2xl">Tema #2</p>
            <h2 class="font-extrabold lg:text-5xl">
              Existen días seguros para que una mujer <span class="text-verdigris">no quede embarazada</span>
            </h2>
            <p class="mt-8">
              Falso: Existen días de mayor fertilidad a lo largo del ciclo (días de ovulación), sin embargo, no existe ningún día en el que sea seguro no quedar en embarazo si la relación sexual no se protege por medio de un método anticonceptivo científicamente efectivo.
            </p>
            <a href="{{ relref . "explorador-de-temas.md" }}" target="_blank" class="mt-6 inline-block bg-verdigris text-white text-xl font-bold px-3 py-1 rounded">Explorar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex flex-col md:space-x-4 pb-12 md:flex-row">
        <div class="md:w-2/5">
          <img class="w-4/5 mx-auto" src="{{"images/hormones.png"|absURL}}" alt="">
        </div>
        <div class="md:w-3/5">
          <div class="max-w-lg">
            <p class="text-purple font-bold text-2xl">Tema #3</p>
            <h2 class="font-extrabold lg:text-5xl">
              Los métodos hormonales causan <span class="text-purple">infertifilidad</span>
            </h2>
            <p class="mt-8">
              Falso: Más del 80% de mujeres retornan a la fertilidad en el primer año de suspensión de su método anticonceptivo. Una mujer, con la debida consejería preconcepcional puede planear la retirada de su método y la planificación de su embarazo. Para más información consulta <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6055351/" target="_blank" class="text-purple">este enlace</a>.
            </p>
            <a href="{{ relref . "explorador-de-temas.md" }}" target="_blank" class="mt-6 inline-block bg-purple text-white text-xl font-bold px-3 py-1 rounded">Explorar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex flex-col md:space-x-4 pb-12 md:flex-row">
        <div class="md:w-2/5">
          <img class="w-4/5 mx-auto" src="{{"images/cocacola.png"|absURL}}" alt="">
        </div>
        <div class="md:w-3/5">
          <div class="max-w-lg">
            <p class="text-pink font-bold text-2xl">Tema #4</p>
            <h2 class="font-extrabold lg:text-5xl">
              La Coca Cola sirve como <span class="text-pink">anticonceptivo</span>
            </h2>
            <p class="mt-8">
              Falso: Los únicos métodos anticonceptivos con eficacia aprobada (81% - 99%) son los métodos anticonceptivos modernos.
            </p>
            <a href="{{ relref . "explorador-de-temas.md" }}" target="_blank" class="mt-6 inline-block bg-pink text-white text-xl font-bold px-3 py-1 rounded">Explorar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="flex flex-col md:space-x-4 pb-12 md:flex-row">
        <div class="md:w-2/5">
          <img class="w-4/5 mx-auto" src="{{"images/perejil.png"|absURL}}" alt="">
        </div>
        <div class="md:w-3/5">
          <div class="max-w-lg">
            <p class="text-purple font-bold text-2xl">Tema #5</p>
            <h2 class="font-extrabold lg:text-5xl">
              Es posible <span class="text-purple">abortar</span> con <span class="text-purple">perejil</span>
            </h2>
            <p class="mt-8">
              Falso: En Colombia es posible acceder a la IVE bajo tres causales, esto reduce el riesgo de procedimientos inseguros que pueden causar complicaciones severas, incluso la muerte. Según el Ministerio de Salud y Protección Social, aproximadamente 70 mujeres mueren cada año en Colombia por practicarse abortos inseguros y/o clandestinos.
            </p>
            <a href="{{ relref . "explorador-de-temas.md" }}" target="_blank" class="mt-6 inline-block bg-purple text-white text-xl font-bold px-3 py-1 rounded">Explorar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination explorer-pagination"></div>
  <div class="swiper-button-prev explorer-navigation"></div>
  <div class="swiper-button-next explorer-navigation"></div>
</div>