<div class="swiper-container myths mt-12">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-1.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-2.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-3.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-4.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-5.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-6.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-7.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-8.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-9.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-10.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-11.png"|absURL}}" alt="">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="pb-12 px-4 lg:px-20">
        <img src="{{"images/mitos/slide-12.png"|absURL}}" alt="">
      </div>
    </div>
  </div>
  <div class="swiper-pagination myths-pagination"></div>
  <div class="swiper-button-prev myths-navigation"></div>
  <div class="swiper-button-next myths-navigation"></div>
</div>
