{{ define "main" }}
<div class="px-4 py-24">
  <div class="w-full mx-auto lg:w-10/12 relative">
    <img src="{{"gifs/postday.gif"|absURL}}" alt="" class="w-full relative md:absolute md:top-0 md:right-0 md:w-1/2">
    <div class="w-full lg:w-2/3 flex-shrink-0 relative">
      <div class="text-4xl lg:text-6xl font-extrabold">
        <h1 class="text-mnblue leading-tight">Los anticonceptivos son confiables.</h1>
        <h1 class="text-pink leading-tight">Los mitos no.</h1>
      </div>
      <div class="max-w-md mt-6 space-y-4">
        <p>
          Los derechos sexuales y reproductivos son derechos humanos. Así ha sido establecido y ratificado desde los años 90 a partir de las Conferencias Mundiales del Cairo sobre Población y Desarrollo y de Beijing sobre la Mujer, y en conferencias posteriores de seguimiento.
        </p>
        <p>
          Uno de los derechos sexuales y reproductivos de mayor relevancia es contar con información clara y veraz para tomar decisiones adecuadas sobre la sexualidad y la reproducción de manera libre y responsable. 
        </p>
        <p>
          En particular, la información sobre los métodos anticonceptivos es clave. Sin embargo, aún persisten enormes dificultades y barreras de información que se afianzan sobre los métodos de anticoncepción. Al respecto, han surgido mitos en torno a la efectividad de los métodos modernos o a sus efectos sobre el cuerpo, así como, a la utilidad de métodos no científicos (mal llamados“caseros”) de anticoncepción o de interrupción del embarazo.
        </p>
        <a class="mt-6 inline-block bg-pink text-white text-lg font-bold px-3 py-1 rounded text-xl" href="https://colombia.unfpa.org/es/publications/derechos-sexuales-y-derechos-reproductivos-infograf%C3%ADa">Conoce tus derechos</a>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="px-4 py-24">
  <div class="w-full mx-auto lg:w-10/12">
    {{ partial "explorer.html" . }}
    <div class="mt-24">
      <div class="md:max-w-xl lg:max-w-3xl">
        <h2 class="text-mnblue text-3xl font-extrabold lg:text-5xl">
          ¿Por qué aquí hablamos de explorar <span class="text-pink">temas</span> y no <span class="text-pink">mitos</span>?
        </h2>
        <p class="mt-6">
          La principal fuente de información a explorar en esta página son las publicaciones en Twitter desde el 5 de julio de 2007 hasta el 3 de diciembre de 2020, las cuales contienen palabras que hemos identificado como relevantes y recurrentes en las conversaciones sobre mitos alrededor de la anticoncepción. Sin embargo, algunas publicaciones con estos mismos términos tratan de desmentir estas ideas falsas, no de difundirlas. La naturaleza de las redes sociales hace que no podamos asegurar que todos los trinos se refieran a estos mitos o quieran difundirlos, es por eso que en las herramientas de exploración de datos nos estaremos refiriendo a los temas asociados a mitos de anticoncepción y no a los mitos en sí.
        </p>
      </div>
      <!-- <a href="" class="mt-6 inline-block bg-pink text-white text-lg font-bold px-3 py-1 rounded text-xl">Ir a la metodología</a> -->
    </div>
  </div>
</div>
<!---->
<div class="flex flex-col text-white md:flex-row md:flex-wrap">
  <!-- 1 -->
  <div class="py-12 lg:w-1/2 text-center bg-mnblue">
    <div class="max-w-md mx-auto px-4">
      <h2 class="font-extrabold text-2xl leading-tight lg:text-4xl">
        Explora lo que se <br>habla en redes
      </h2>
      <p class="mt-4">
        Explora los trinos sobre Salud Sexual y Reproductiva publicados en esta red social e identificados por UNFPA.
      </p>
      <p class="text-center mt-6">
        <a href="{{ relref . "explorador-de-tweets.md" }}" class="inline-block bg-white text-mnblue text-lg font-bold px-3 py-1 rounded lg:text-xl">Explorar</a>
      </p>
    </div>
  </div>
  <!-- 2 -->
  <div class="py-12 lg:w-1/2 text-center bg-pink">
    <div class="max-w-md mx-auto px-4">
      <h2 class="font-extrabold text-2xl leading-tight lg:text-4xl">
        Explora los temas <br>asociados a mitos
      </h2>
      <p class="mt-4">
        Explora la selección de temas que hemos identificado en torno a posibles mitos sobre anticoncepción y otras categorías que se pueden relacionar con dichos temas.
      </p>
      <p class="text-center mt-6">
        <a href="{{ relref . "explorador-de-temas.md" }}" class="inline-block bg-white text-pink text-lg font-bold px-3 py-1 rounded lg:text-xl">Explorar</a>
      </p>
    </div>
  </div>
  <!-- 3 -->
  <div class="py-12 lg:w-1/2 text-center bg-purple">
    <div class="max-w-md mx-auto px-4">
      <h2 class="font-extrabold text-2xl leading-tight lg:text-4xl">
        Conoce la historia <br>de este proyecto
      </h2>
      <p class="mt-4">Conoce cómo surgió esta iniciativa liderada por el equipo de innovación de UNFPA Colombia que cuenta con más de un año de trabajo. </p>
      <p class="text-center mt-6">
        <a href="{{ relref . "sobre-el-proyecto.md" }}" class="inline-block bg-white text-purple text-lg font-bold px-3 py-1 rounded lg:text-xl">Conocer</a>
      </p>
    </div>
  </div>
  <!-- 4 -->
  <div class="py-12 lg:w-1/2 text-center bg-max-purple">
    <div class="max-w-md mx-auto px-4">
      <h2 class="font-extrabold text-2xl leading-tight lg:text-4xl">
        Conoce la <br>metodología
      </h2>
      <p class="mt-4">
        En esta sección se resumen los retos de los datos sobre mitos de anticoncepción y se realiza una metodología para la recolección de la misma.
      </p>
      <p class="text-center mt-6">
        <a href="{{ relref . "metodologia.md" }}" class="inline-block bg-white text-max-purple text-lg font-bold px-3 py-1 rounded lg:text-xl">Conocer</a>
      </p>
    </div>
  </div>
</div>
<!---->
<div class="px-4 py-24">
  <div class="w-full mx-auto lg:w-10/12">
    <div class="w-full flex flex-col items-center text-center">
      <img class="w-full md:w-2/3 lg:w-1/3" src="{{"gifs/fruits.gif"|absURL}}" alt="">
      <h2 class="font-extrabold text-3xl mt-2 lg:text-5xl">En <span class="text-pink">redes sociales</span> se difunden muchos mitos sobre la anticoncepción.</h2>
      <p class="max-w-2xl mt-6">Aquí te brindamos información sobre algunos de los temas que están asociados a estos mitos, así como conceptos y recomendaciones útiles a la hora de abordarlos, para que puedas tomar decisiones <strong>informadas</strong> sobre tu sexualidad.</p>
    </div>
    <!---->
    <div class="mt-24">
      <div class="md:max-w-xl lg:max-w-3xl">
        <h2 class="text-mnblue text-3xl font-extrabold lg:text-5xl">¿Qué son los <span class="text-pink">mitos</span>?</h2>
        <p class="mt-6">
          Al hablar de métodos de anticoncepción, los mitos abundan. Los mitos son ideas falsas o distorsionadas sobre la efectividad de estos métodos, sus efectos sobre el cuerpo y la utilidad de los métodos "caseros" de anticoncepción o de interrupción del embarazo. Estos son algunos mitos que se han identificado y la respuesta a cada uno de ellos.
        </p>
      </div>
      {{ partial "myth.html" . }}
    </div>
    <!---->
    <div class="mt-24">
      <div class="md:max-w-xl lg:max-w-3xl">
        <h2 class="text-mnblue text-3xl font-extrabold lg:text-5xl">¿Qué son los <span class="text-pink">métodos anticonceptivos</span> modernos?</h2>
      </div>
      <div class="flex flex-col space-y-12 md:space-y-0 md:space-x-6 lg:space-x-12 md:flex-row md:items-center">
        <div class="w-full md:w-3/5">
          <div class="max-w-lg mt-6 space-y-6">
            <p>
              Son aquellos mecanismos (medicamentos, dispositivos o procedimientos) utilizados para evitar que tras una relación sexual se de un embarazo. Las mujeres pueden elegir entre muchos tipos diferentes de anticonceptivos. Algunos se adaptan mejor a las condiciones de salud o a las preferencias de las mujeres y pueden ser más efectivos que otros para prevenir el embarazo.
            </p>
            <p>
              Los hombres pueden usar el preservativo o condón. Este método de barrera protege a hombres y sus parejas sexuales de adquirir infecciones de transmisión sexual (ITS) y VIH. Conoce los principales anticonceptivos ofrecidos y avalados por los servicios de salud en Colombia.
            </p>
            <a href="https://colombia.unfpa.org/es/publications/tarjeta-para-asesor%C3%ADa-anticonceptiva-en-colombia" target="_blank" class="inline-block mt-6 bg-pink text-white text-lg font-bold px-3 py-1 rounded lg:text-xl">Consultar</a>
          </div>
        </div>
        <div class="w-full md:w-2/5">
          <img src="{{"images/anticonceptivos.svg"|absURL}}" alt="">
        </div>
      </div>
    </div>
    <!---->
    <div class="flex flex-col mt-24 space-y-12 md:space-y-0 md:space-x-6 lg:space-x-24 md:flex-row">
      <div class="w-full md:w-2/5">
        <img src="{{"images/bebediu.png"|absURL}}" alt="">
      </div>
      <div class="w-full md:w-3/5">
        <div class="max-w-lg">
          <h2 class="text-mnblue text-3xl font-extrabold lg:text-5xl">¿Por qué es <span class="text-pink">importante</span> pensar en los mitos?</h2>
          <div class="mt-6 space-y-4">
            <p>
              La buena salud sexual y reproductiva es un estado de completo bienestar físico, mental y social en todas las cuestiones relacionadas con el sistema reproductivo. Implica que las personas son capaces de tener una vida sexual satisfactoria y segura, la capacidad de reproducirse, y la libertad de decidir si, cuándo y con qué frecuencia hacerlo.
            </p>
            <p>
              Para mantener la salud sexual y reproductiva, las personas necesitan tener acceso a información precisa y al método anticonceptivo seguro, eficaz, asequible y aceptable de su elección. Deben estar informados y capacitados para protegerse de las infecciones de transmisión sexual (ITS).
            </p>
            <p>
              Sin embargo, aún persisten enormes dificultades en torno a la información que se distribuye sobre los métodos de anticoncepción. En particular, han surgido mitos en torno a la efectividad de estos métodos, a sus efectos secundarios y a la efectividad de métodos caseros de anticoncepción o de interrupción del embarazo.
            </p>
            <p>
              Todo individuo tiene derecho a tomar sus propias decisiones sobre su salud sexual y reproductiva. El UNFPA, junto con una amplia gama de socios, trabaja para alcanzar el objetivo del acceso universal a la salud y los derechos sexuales y reproductivos, incluyendo la planificación familiar.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="mt-24">
      <div class="md:max-w-xl lg:max-w-3xl">
        <h2 class="text-mnblue text-3xl font-extrabold lg:text-5xl">¿Cómo <span class="text-pink">abordar</span> estos temas?</h2>
        <p class="mt-6">
          La educación sexual integral es fundamental en todas las etapas de formación que puede tener una persona en su vida. En ella se pueden abordar temas como el desarrollo, la sexualidad, el placer y el cuidado. Su objetivo es el de proporcionar algunas herramientas para vivir positivamente la sexualidad, teniendo información clara y veraz para tomar decisiones autónomas y saludables. Por eso es necesario abordar los métodos de anticoncepción y desmentir los mitos que se han creado en torno a su efectividad.
        </p>
        <ul id="how-to" class="lg:pl-6 mt-8 space-y-6">
          <li>
            La información que se esté brindando debe basarse en evidencia científica y en lineamientos técnicos.
          </li>
          <li>
            Los mensajes deben ser claros, sencillos y consistentes, dirigidos a desarrollar la autonomía desde un enfoque de derechos humanos. Deben responder a las necesidades y el contexto de los receptores de la información.
          </li>
          <li>
            Es importante promover el inicio inmediato de un método anticonceptivo moderno, en especial, de larga duración, principalmente entre las personas que piensan iniciar o han iniciado su vida sexual, o mantienen una vida sexual activa.
          </li>
          <li>
            Para brindar asesoría en métodos de anticoncepción modernos se deben informar todas las características de cada método y presentarlos en orden, de mayor a menor efectividad.
          </li>
          <li>
            Se debe hacer énfasis en el derecho al disfrute de la sexualidad sin temor a embarazos no deseados; el derecho a no tener hijos si no se desea y a comprender la maternidad como una opción personal; el derecho a tener hijos si así se desea y a ejercer control sobre su natalidad; y a decidir libre, autónoma y responsablemente cuántos hijos se quiere tener, cuándo, con quién y con qué espaciamiento.
          </li>
          <li>
            Siempre que sea posible, se debe abordar información sobre la doble protección y la anticoncepción de emergencia.
          </li>
          <li>
            Es importante abstenerse de dar su opinión personal o juzgar sobre las situaciones particulares que estén relacionadas con el mito.
          </li>
        </ul>
        <a href="https://colombia.unfpa.org/es/publications/j%C3%B3venes-y-derechos-mensajes-para-incidir-en-la-esfera-p%C3%BAblica" target="_blank" rel="noopener noreferrer" class="mt-10 inline-block bg-pink text-white text-lg font-bold px-3 py-1 rounded lg:text-xl">Conoce más</a>
      </div>
    </div>
    <!---->
    <div class="mt-24">
      <div class="md:max-w-xl lg:max-w-3xl">
        <h2 class="text-mnblue text-3xl font-extrabold lg:text-5xl">¿Dónde obtener <span class="text-pink">insumos de apoyo</span>?</h2>
        <p class="mt-6">Si requieres información sobre métodos anticonceptivos específicos, sobre cómo metodologías de educación sexual o sobre cifras del estado de los derechos sexuales y reproductivos en América Latina, puedes revisar las publicaciones de UNFPA.</p>
        <a href="https://colombia.unfpa.org/es/publications" target="_blank" rel="noopener noreferrer" class="mt-6 inline-block bg-pink text-white text-lg font-bold px-3 py-1 rounded lg:text-xl">Ir a UNFPA</a>
      </div>
    </div>
  </div>
</div>
<!---->
<div class="bg-purple px-4 py-24">
  <div class="w-full mx-auto lg:w-10/12">
    <div class="text-white md:max-w-xl lg:max-w-3xl">
      <h2 class="text-3xl font-extrabold lg:text-5xl">
        ¿Tienes algún comentario o sugerencia?
      </h2>
      <p class="mt-6">
        Si tienes algún comentario o sugerencia sobre los contenidos o datos de esta página web, escríbenos ingresando al formulario
      </p>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSeqKwFG7NUhx74wVCvXURJLVrIIEy938n8G_R37gdW6OMwPMw/viewform?usp=sf_link" target="_blank" class="mt-6 inline-block bg-white text-purple text-lg font-bold px-3 py-1 rounded lg:text-xl">Ir al formulario</a>
    </div>
  </div>
</div>
{{ end }}

{{ define "head" }}
  <link rel="stylesheet" href="{{"vendors/swiper/swiper.min.css"|absURL}}">
{{ end }}

{{ define "scripts" }}
  {{ $home := resources.Get "js/home.js" | minify }}
  <script src="{{"vendors/swiper/swiper.min.js"|absURL}}"></script>
  <script src="{{$home.Permalink}}"></script>
{{ end }}