{{ define "main" }}
<div class="bg-cultured px-4 py-24">
  <div class="w-full mx-auto flex lg:w-10/12 relative">
    <img src="{{"images/postday.png"|absURL}}" alt="" class="absolute top-0 right-0 w-1/2">
    <div class="w-2/3 flex-shrink-0" style="z-index: 1;">
      <div class="text-6xl font-extrabold">
        <h1 class="text-mnblue leading-tight">Los anticonceptivos son confiables.</h1>
        <h1 class="text-pink leading-tight">Los mitos no.</h1>
      </div>
      <p class="mt-6 max-w-md">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus.</p>
    </div>
  </div>
</div>
<!---->
<div class="flex text-white">
  <div class="py-12 lg:w-1/2 text-center bg-mnblue">
    <div class="max-w-md mx-auto px-4">
      <h2 class="font-extrabold text-4xl leading-tight">
        Explora lo que se <br>habla en redes
      </h2>
      <p class="mt-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      <p class="text-center mt-6">
        <a href="" class="inline-block bg-white text-mnblue text-xl font-bold px-3 py-1 rounded">Explorar</a>
      </p>
    </div>
  </div>
  <div class="py-12 lg:w-1/2 text-center bg-pink">
    <div class="max-w-md mx-auto px-4">
      <h2 class="font-extrabold text-4xl leading-tight">
        Explora los temas <br>asociados a mitos
      </h2>
      <p class="mt-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      <p class="text-center mt-6">
        <a href="" class="inline-block bg-white text-pink text-xl font-bold px-3 py-1 rounded">Explorar</a>
      </p>
    </div>
  </div>
</div>
<!---->
<div class="bg-cultured px-4 py-24">
  <div class="w-full mx-auto lg:w-10/12">
    <div class="w-full flex flex-col items-center text-center">
      <img class="w-full lg:w-1/3" src="{{"images/fruits.png"|absURL}}" alt="">
      <h2 class="font-extrabold text-5xl mt-2">En <span class="text-pink">redes sociales</span> se difunden muchos mitos sobre la anticoncepción.</h2>
      <p class="max-w-2xl mt-6">Aquí te brindamos información sobre algunos de los temas que están asociados a estos mitos, así como conceptos y recomendaciones útiles a la hora de abordar estos temas para promover la toma de decisiones <strong>informadas</strong> sobre sexualidad.</p>
    </div>
    <!---->
    <!---->
    <div class="flex mt-24 space-x-24">
      <div class="w-full lg:w-2/5">
        <img src="{{"images/bebediu.png"|absURL}}" alt="">
      </div>
      <div class="w-full lg:w-3/5">
        <div class="max-w-lg">
          <h2 class="text-mnblue font-extrabold lg:text-5xl">¿Por qué es <span class="text-pink">importante</span> pensar en los mitos?</h2>
          <p class="mt-6">
            El derecho a la salud sexual y reproductiva ha sido ampliamente discutido y consensuado como un derecho humano desde los años 90 a partir de las Conferencias de Cairo y Beijing y sus conferencias de seguimiento. Más aún, tener presente la información sobre anticoncepción permite tomar decisiones adecuadas sobre la sexualidad y la reproducción de manera libre y responsable, además de mantener y mejorar la salud individual y pública. Sin embargo, aún persisten enormes dificultades en torno a la información que se distribuye sobre los métodos de anticoncepción. En particular, han surgido mitos en torno a la efectividad de estos métodos, a sus efectos secundarios y a la efectividad de métodos caseros de anticoncepción o de interrupción del embarazo.
          </p>
        </div>
      </div>
    </div>
    <!---->
    <div class="mt-24">
      <div class="max-w-3xl">
        <h2 class="text-mnblue font-extrabold lg:text-5xl">¿Qué son los <span class="text-pink">métodos anticonceptivos</span> modernos?</h2>
        <p class="mt-6">Son aquellos mecanismos (medicamentos, dispositivos o procedimientos) utilizados para evitar que después de una relación sexual se presente un embarazo. Las mujeres pueden elegir entre muchos tipos diferentes de anticonceptivos; algunos funcionan mejor que otros para prevenir el embarazo. Los hombres pueden usar el preservativo que además previene de ITS y VIH. Estos son los principales anticonceptivos ofrecidos y avalados por los servicios de salud en Colombia:</p>
      </div>
      <div class="mt-8 grid lg:grid-cols-2 lg:gap-8">
        <img src="{{"images/asesoria-anticonceptiva.png"|absURL}}" alt="">
        <img src="{{"images/consideraciones-y-beneficios.png"|absURL}}" alt="">
      </div>
      <a href="" class="mt-6 inline-block bg-pink text-white text-xl font-bold px-3 py-1 rounded">Descargar</a>
    </div>
    <!---->
    <div class="mt-24">
      <div class="max-w-3xl">
        <h2 class="text-mnblue font-extrabold lg:text-5xl">¿Qué son los <span class="text-pink">mitos</span>?</h2>
        <p class="mt-6">Al hablar de métodos de anticoncepción, los mitos son ideas falsas o distorsionadas sobre la eficacia de estos métodos, sus efectos secundarios y la efectividad de métodos caseros de anticoncepción o de interrupción del embarazo. Estos son algunos mitos que se han identificado y la respuesta a cada uno de ellos:</p>
      </div>
      {{ partial "myth.html" . }}
    </div>
    <!---->
    <div class="mt-24">
      <div class="max-w-3xl">
        <h2 class="text-mnblue font-extrabold lg:text-5xl">¿Cómo <span class="text-pink">abordar</span> estos temas?</h2>
        <p class="mt-6">La educación sexual es integral a todas las etapas de formación que puede tener una persona en su vida. En ella se pueden abordar temas como el desarrollo, la sexualidad, el placer y el cuidado, cuyo objetivo, es el de proporcionar algunas herramientas para vivir positivamente la sexualidad, teniendo información clara y veraz para tomar decisiones autónomas y saludables. Es por eso necesario abordar los métodos de anticoncepción y los mitos que se han creado en torno a la efectividad de ellos.</p>
        <ul id="how-to" class="pl-6 mt-8 space-y-6">
          <li>
            La información que se esté brindando debe basarse en evidencia médica y en lineamientos técnicos.
          </li>
          <li>
            Los mensajes deben ser claros, sencillos y consistentes, dirigidos a desarrollar autonomía desde un enfoque de derechos humanos y que respondan a las necesidades y el contexto de los receptores de la información.
          </li>
          <li>
            Es importante promover el inicio inmediato de un método anticonceptivo, en especial aquellos de larga duración.
            Para brindar asesoría en métodos de anticoncepción modernos se deben informar todas las características de cada método y presentarlos en orden de mayor a menor efectividad.
          </li>
          <li>
            Se debe hacer énfasis en el derecho al disfrute de la sexualidad sin temor a embarazos no deseados, el derecho a no tener hijos si no lo desea y a comprender la maternidad como una opción personal, el derecho a tener hijos si así lo desea y a ejercer control sobre su natalidad, a decidir libre, autónoma y responsablemente cuántos hijos quiere tener, cuándo, con quién y con qué espaciamiento.
          </li>
          <li>
            Siempre que sea posible, se debe abordar información sobre la doble protección y la anticoncepción de emergencia.
          </li>
          <li>
            Es importante abstenerse de dar su opinión personal sobre las situaciones particulares que estén relacionadas con el mito.
          </li>
        </ul>
      </div>
    </div>
    <!---->
    <div class="mt-24">
      <div class="max-w-3xl">
        <h2 class="text-mnblue font-extrabold lg:text-5xl">¿Dónde obtener <span class="text-pink">insumos de apoyo</span>?</h2>
        <p class="mt-6">Si requieres información sobre métodos anticonceptivos específicos, sobre cómo metodologías de educación sexual o sobre cifras del estado de los derechos sexuales y reproductivos en América Latina, puedes revisar las publicaciones de UNFPA.</p>
        <a href="" class="mt-6 inline-block bg-pink text-white text-xl font-bold px-3 py-1 rounded">Ir a UNFPA</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "head" }}
  <link rel="stylesheet" href="{{"vendors/swiper/swiper.min.css"|absURL}}">
{{ end }}

{{ define "scripts" }}
  {{ $home := resources.Get "js/home.js" | minify }}
  <script src="{{"vendors/swiper/swiper.min.js"|absURL}}"></script>
  <script src="{{$home.Permalink}}"></script>
{{ end }}